In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

## 4 goals
1. find out country of the user
2. build a ML model to predict fraud
3. explain what variables differentiate two groups

In [2]:
country = pd.read_csv("IpAddress_to_Country.csv")
user = pd.read_csv("Fraud_Data.csv")

In [3]:
#find out min and max ip of each country
country_min_ip = country.groupby('country')['lower_bound_ip_address'].min().reset_index()
country_max_ip = country.groupby('country')['upper_bound_ip_address'].max().reset_index()
country_whole = pd.merge(country_min_ip, country_max_ip, on='country', how='inner')

In [4]:
#basic exploration of user table
#1. find out null value percentage
for col in user.columns:
    print(col, " has: {}% null values".format(user[col].isnull().sum() / user.shape[0]))

#Good to know that no column has null values, now we map id by country

user_id  has: 0.0% null values
signup_time  has: 0.0% null values
purchase_time  has: 0.0% null values
purchase_value  has: 0.0% null values
device_id  has: 0.0% null values
source  has: 0.0% null values
browser  has: 0.0% null values
sex  has: 0.0% null values
age  has: 0.0% null values
ip_address  has: 0.0% null values
class  has: 0.0% null values

In [6]:
user.head(3)

,user_id,signup_time,purchase_time,purchase_value,device_id,source,browser,sex,age,ip_address,class
0,22058,2015-02-24 22:55:49,2015-04-18 02:47:11,34,QVPSPJUOCKZAR,SEO,Chrome,M,39,7.327584e+08,0
1,333320,2015-06-07 20:39:50,2015-06-08 01:38:54,16,EOGFQPIZPYXFZ,Ads,Chrome,F,53,3.503114e+08,0
2,1359,2015-01-01 18:52:44,2015-01-01 18:52:45,15,YSSKYOSJHPPLJ,SEO,Opera,M,53,2.621474e+09,1

In [12]:
country[(country.lower_bound_ip_address < 3.503114e+08) & (country.upper_bound_ip_address > 3.503114e+08)]['country']

array(['United States'], dtype=object)

In [5]:
user['country'] = user['ip_address'].apply(lambda val: country[(country.lower_bound_ip_address < val) & \
                                                    (country.upper_bound_ip_address > val)]['country'])

KeyboardInterrupt:

In [18]:
user.head()

,country,lower_bound_ip_address,upper_bound_ip_address
0,Afghanistan,460601344.0,3528474623
1,Albania,521547776.0,3645476863
2,Algeria,692957184.0,3585327103
5,Angola,692035584.0,3320971263
8,Argentina,417857536.0,3639934975
9,Armenia,88055808.0,3648069631
11,Australia,16777216.0,3758096383
12,Austria,84606976.0,3653722111
13,Azerbaijan,84602880.0,3651715071
14,Bahamas,406011904.0,3632861183
15,Bahrain,629342208.0,3641835519
16,Bangladesh,453009408.0,3752133631
17,Barbados,401342464.0,3631120383
18,Belarus,90488832.0,3642195967
19,Belgium,85426176.0,3651887103
21,Benin,692715520.0,3320504319
26,Bosnia and Herzegowina,86720512.0,3653734399
27,Botswana,692727808.0,3320502271
31,Bulgaria,86016000.0,3652100095
32,Burkina Faso,692989952.0,3560218623
33,Burundi,693054464.0,3320314879
34,Cambodia,460156928.0,3755978751
35,Cameroon,692305920.0,3315597311
36,Canada,386924544.0,3640582143
37,Cape Verde,692748288.0,3321860095
39,Central African Republic,693008384.0,3321018367
40,Chad,692723712.0,3314910207
42,China,16777472.0,3758095871
45,Congo,692797440.0,3321872383
46,Congo The Democratic Republic of The,692968448.0,3320315903
...,...,...,...
188,Singapore,241434624.0,3758096127
190,Slovakia (SLOVAK Republic),95563776.0,3651969023
191,Slovenia,86018048.0,3645399039
193,Somalia,692996096.0,3320302591
194,South Africa,687865856.0,3639394303
195,South Sudan,693049344.0,3320311807
196,Spain,42467328.0,3654942719
199,Sudan,692256768.0,3556810751
201,Swaziland,692971520.0,3290171391
202,Sweden,37748736.0,3654811647
203,Switzerland,83976192.0,3653623807
204,Syrian Arab Republic,83886080.0,3642023935
205,Taiwan; Republic of China (ROC),19005440.0,3754491903
206,Tajikistan,627218432.0,3641425919
207,Tanzania United Republic of,691732480.0,3321561087
208,Thailand,16809984.0,3754950655
210,Togo,693012480.0,3314843647
214,Tunisia,702545920.0,3583426559
215,Turkey,84037632.0,3653488639
219,Uganda,692822016.0,3562569727
220,Ukraine,37224448.0,3653758975
221,United Arab Emirates,36700160.0,3651534847
222,United Kingdom,35127296.0,3654287359
223,United States,50331648.0,3640655871
225,Uzbekistan,528994304.0,3642667007
228,Viet Nam,20185088.0,3743117311
231,Wallis and Futuna Islands,461225984.0,1964255231
232,Yemen,90480640.0,3277725695
233,Zambia,691798016.0,3320313855
234,Zimbabwe,691617792.0,3320305663

In [20]:
country_whole[country_whole.country == 'Japan']

    country  lower_bound_ip_address  upper_bound_ip_address
104   Japan              16781312.0              3755999231

In [32]:
country.loc[country.country == 'Japan', 'lower_bound_ip_address'].min()

16781312.0

In [33]:
country.loc[country.country == 'Japan', 'upper_bound_ip_address'].max()

3755999231

In [39]:
country[(country.lower_bound_ip_address < 732758369) & (country.upper_bound_ip_address > 732758369)]['country']

4554    Japan
Name: country, dtype: object