In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

Load dataset first

In [2]:
address = pd.read_csv("Employee_Addresses.csv")
stops = pd.read_csv("Potentail_Bust_Stops.csv")

In [3]:
print("Address table")
display(address.head(3))
print("stops table")
display(stops.head(3))

Address table

                                         address  employee_id
0  98 Edinburgh St, San Francisco, CA 94112, USA          206
1       237 Accacia St, Daly City, CA 94014, USA         2081
2   1835 Folsom St, San Francisco, CA 94103, USA          178

stops table

   Street_One         Street_Two
0  MISSION ST          ITALY AVE
1  MISSION ST  NEW MONTGOMERY ST
2  MISSION ST            01ST ST

In [4]:
print("There are {} employees".format(len(address['employee_id'].unique())))
print("There are {} street conjunctions".format(len(stops)))

There are 2191 employees
There are 119 street conjunctions

Data preprocessing

In [5]:
import re
address['street'] = address['address'].apply(lambda l: re.sub("\d", "", l.split(',')[0]).strip().lower())
unique_address = list(set(address['address']))

In [6]:
unique_address[:5]

['96 S Hill Blvd, San Francisco, CA 94112, USA',
 '67 Maddux Ave, San Francisco, CA 94124, USA',
 '716 San Jose Avenue, San Francisco, CA 94110, USA',
 '1063 Geneva Ave, San Francisco, CA 94112, USA',
 '436 Bellevue Ave, Daly City, CA 94014, USA']

In [12]:
unique_street = list(set(address['street']))
print("There are {} unique streets".format(len(unique_street)))
unique_street[:5]

There are 270 unique streets

['', 'kissling st', 'larkin st', 'florida st', 'steiner st']

In [18]:
#take a look at count
street_counts = address['street'].value_counts()
street_counts[:3]

th st           184
geneva ave       50
alemany blvd     47
Name: street, dtype: int64

Need to have some tools to help measure the distance between each stop and each street